body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #000; 
}

html {
    width: 100%;
    height: 100%;
}


.navbar {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    margin: 35px;
    padding: 35px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
}

.intro {
	display: table;
    width: 100%;
    height: 70%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("images/homeBackground.jpg") no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro h1 {
	font-weight: 200;
	font-size: 60px;
	text-align: right;
}

.glyphicon {
	font-size: 3em;
}

/*.about {
	display: table;
    width: 100%;
    height: 60%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url("images/waikikiBackground.jpg") no-repeat top center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about p {
	font-weight: 200;
	font-size: 18px;
	text-align: center;
}*/

.contact {
	display: table;
    width: 100%;
    height: 30%;
    padding: 10px;
    padding-left: 375px;
	padding-right: 375px;
    text-align: center;
    color: #000;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;

}

.contact .title-line {
	padding-bottom: 10px;
}
.contact h1{
	padding-top: 0;
	padding-bottom: 0;
}

.projects-list {
	display: table;
    width: 100%;
    height: 45%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url("images/waikikiBackground.jpg") no-repeat top center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.projects-list p {
	font-weight: 200;
	font-size: 18px;
	text-align: center;
}

.photo-gallery {
	display: block;
	text-align: center;
	padding: 75px;
    margin: 0 auto;
    height:50%;
}

div.img {
	display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}